footer {
  position: relative;
  top: 2200px;
}

.main-container {
  position: absolute;
  margin-top: 20px;
  margin-left: 20px;
  width: 70%;
}
.main-container .main-title {
  display: flex;
  align-items: center;
  font-family: "Segoe UI", monospace;
  background-color: var(--secondary);
  padding: 0.5rem 3rem;
  height: 2.5rem;
  font-size: 1.5rem;
}
.main-container .loader {
  width: 100%;
  background-color: var(--black);
  height: 85vh;
  position: absolute;
  z-index: 2;
}
.main-container .loader img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.main-container .container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}
.main-container .container .item {
  text-align: center;
  color: var(--white);
}
.main-container .container .item .sub {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.875rem;
  position: relative;
  z-index: 1;
  top: 20px;
  height: 20px;
  width: 30px;
  background-color: var(--darkRed);
  cursor: default;
}
.main-container .container .item .dub {
  display: flex;
  justify-content: end;
  padding-right: 6px;
  align-items: center;
  font-size: 0.875rem;
  position: absolute;
  height: 20px;
  width: 70px;
  background-color: var(--darkRed);
  cursor: default;
}
.main-container .container .item .poster {
  cursor: pointer;
  width: 200px;
  height: 276.4px;
  border-radius: 10px;
}
.main-container .container .item .title {
  font-family: "Sansita", sans-serif;
  cursor: pointer;
  font-size: 0.875rem;
  padding-bottom: 10px;
}
.main-container .container .item .genre,
.main-container .container .item .status,
.main-container .container .item .episodes {
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  text-align: left;
  font-size: 0.75rem;
  padding-left: 15px;
}
.main-container .container .item:hover {
  transform: scale(110%);
}

.side-container {
  position: absolute;
  top: auto;
  right: 0;
  width: 25%;
  margin-top: 20px;
  margin-right: 20px;
  /* width */
  /* Handle */
  /* Handle on hover */
}
.side-container ::-webkit-scrollbar {
  width: 5px;
}
.side-container ::-webkit-scrollbar-thumb {
  background: rgb(190, 190, 190);
  border-radius: 10px;
}
.side-container ::-webkit-scrollbar-thumb:hover {
  background: grey;
}
.side-container .recent-title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Mukta", monospace;
  background-color: var(--secondary);
  padding: 0.5rem 3rem;
  height: 2rem;
  font-size: 1rem;
  margin-top: 4rem;
}
.side-container .recent-loader {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: var(--black);
}
.side-container .recent-loader img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
}
.side-container .recent-container {
  margin-top: 20px;
  margin-left: 20px;
  height: 600px;
  overflow-y: scroll;
}
.side-container .recent-container .recent-item {
  height: 120px;
}
.side-container .recent-container .recent-item .recent-poster {
  width: 75px;
  height: 103.5px;
}
.side-container .recent-container .recent-item .info-container {
  width: 60%;
  position: relative;
  left: 90px;
  bottom: 110px;
}
.side-container .recent-container .recent-item .info-container .title {
  cursor: default;
  font-family: "Sansita", sans-serif;
  margin-left: 80px;
  font-size: 0.875rem;
  margin: 10px 0;
}
.side-container .recent-container .recent-item .info-container .link {
  font-family: "Roboto", sans-serif;
  color: var(--secondary);
  font-size: 0.75rem;
  margin-left: 10px;
}

.slide-left {
  animation: slide-left 500ms cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
}

.slide-right {
  animation: slide-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2023-5-1 0:27:41
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation slide-left
 * ----------------------------------------
 */
@keyframes slide-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100vw);
  }
}
/* ----------------------------------------------
 * Generated by Animista on 2023-5-1 0:42:28
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation slide-right
 * ----------------------------------------
 */
@keyframes slide-right {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(300px);
  }
}/*# sourceMappingURL=index.css.map */