:root {
    font-size: 16px;
    --black: #0b0b0b;
    --darkRed: #3d0000;
    --secondary: #950101;
    --primary: #ff0000;
    --white: #f8f8f8;
    --facebook: #4267b2;
    --twitter: #1da1f2;
    --reddit: #ff5700;
    --gray: #aabfc0;
}

@font-face {
    font-family: 'Segoe UI';
    src: url(../src/fonts/SegoeUI.ttf);
}
@font-face {
    font-family: 'Segoe UI Bold';
    src: url(../src/fonts/SegoeUIBold.ttf);
}
@font-face {
    font-family: 'VT323';
    src: url(../src/fonts/VT323.ttf);
}
*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

a,
a:visited {
    text-decoration: none;
    color: inherit;
}

body {
    overflow-x: hidden;
    background-color: var(--black);
    color: var(--white);
}

.border-danger {
    border: 1px solid #ff0000;
}

.border-normal {
    border: 1px solid var(--gray);
}

.navbar {
    background-color: var(--secondary);
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar .home {
    padding: 0.5rem 2rem;
    position: absolute;
    left: 390px;
}
.navbar .home:hover {
    background-color: var(--darkRed);
}
.navbar .logo {
    margin: 0 auto 0 100px;
}
.navbar .logo img {
    height: 5rem;
}
.navbar .search-bar {
    margin: 0 auto 0 auto;
}
.navbar .search-bar .search {
    outline: none;
    border: none;
    background-color: var(--white);
    color: var(--black);
    padding: 0.5rem 0.5rem;
    width: 15.625rem;
}
.navbar .profile {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-right: 50px;
}
.navbar .profile .pfp {
    height: 2rem;
    border-radius: 50%;
}
.navbar .profile .chev {
    height: 1.5rem;
}
.navbar .dropdown {
    position: absolute;
    z-index: 1;
    right: 50px;
    top: 80px;
    width: 180px;
    background-color: var(--white);
    text-align: center;
    display: none;
}
.navbar .dropdown ul {
    list-style-type: none;
}
.navbar .dropdown ul li {
    padding: 5px 0;
    margin: 5px 0;
}
.navbar .dropdown ul li:hover {
    background: rgba(149, 1, 1, 0.5);
}
.navbar .dropdown ul li .drop {
    color: var(--black);
}
.navbar .search-items {
    position: absolute;
    top: 57px;
    right: 366px;
    width: 15.625rem;
    z-index: 2;
    text-align: center;
    background-color: var(--white);
    color: var(--black);
    max-height: 550px;
    overflow-y: scroll;
    border-top: 1px solid var(--black);
    display: none;
}
.navbar .search-items::-webkit-scrollbar {
    width: 5px;
}
.navbar .search-items::-webkit-scrollbar-thumb {
    background: rgb(190, 190, 190);
    border-radius: 10px;
}
.navbar .search-items ::-webkit-scrollbar-thumb:hover {
    background: grey;
}
.navbar .search-items .loader {
    height: 60px;
}
.navbar .search-items .loader img {
    height: 60px;
}
.navbar .search-items .search-item {
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
    align-items: center;
    margin: 10px 0 0 25px;
}
.navbar .search-items .search-item .search-poster {
    background-size: cover;
    background-repeat: no-repeat;
    width: 55px;
    height: 55px;
    border-radius: 100%;
}
.navbar .search-items .search-item .search-title {
    cursor: default;
    font-family: 'Sansita', sans-serif;
    margin-left: 80px;
    font-size: 0.875rem;
    margin: 10px 0;
}

footer {
    background-color: var(--secondary);
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    height: 5rem;
    align-items: center;
    width: 100%;
}
footer .socials .contact-title {
    text-align: center;
    margin-bottom: 5px;
}
footer .socials .contact a {
    padding: 5px 10px;
}
footer .socials .contact a img {
    height: 25px;
    width: 25px;
} /*# sourceMappingURL=navbar.css.map */

@media only screen and (max-width: 500px) {
    .navbar {
        width: 100%;
        justify-content: space-around;
    }
    .navbar .home {
        display: none;
    }
    .navbar .logo {
        margin: 0;
    }
    .navbar .logo img {
        height: 60px;
    }
    .navbar .search-bar {
        display: none;
    }
    .navbar .profile {
        margin: 0;
    }
    .navbar .profile #name {
        font-size: 14px;
    }
    footer .socials .contact a {
        padding: 0;
    }
}
